!!!
%html
  %head
    %title Ginion
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if current_user.present?
      %nav.navbar.navbar-inverse
        .container-fluid
          .collapse.navbar-collapse
            .navbar-text.navbar-right
              = current_user.email
              = link_to destroy_user_session_path, method: 'delete' do
                %btn.btn.btn-danger
                  %span.glyphicon.glyphicon-log-out{'aria-hidden' => 'true'}
    #flash-container
      = render partial: "shared/flash_messages", flash: flash
    = yield
